{% extends "layouts/base.html" %}

{% block title %}
Testing Index
{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">United States Coronavirus Dashboard</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Summary Statistics</li>
            </ol>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body">As of {{ data[0] }}, </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-warning text-white mb-4">
                        <div class="card-body">Warning Card</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body">Success Card</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-danger text-white mb-4">
                        <div class="card-body">Danger Card</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Overview of Cases and Deaths</li>
            </ol>
            <div class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            Total COVID-19 Cases
                        </div>
                        <div class="card-body"><canvas id="totalCases" width="100%" height="40"></canvas></div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-bar me-1"></i>
                            Total COVID-19 Deaths
                        </div>
                        <div class="card-body"><canvas id="totalDeaths" width="100%" height="40"></canvas></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            New COVID-19 Cases
                        </div>
                        <div class="card-body"><canvas id="newCases" width="100%" height="40"></canvas></div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-bar me-1"></i>
                            New COVID-19 Deaths
                        </div>
                        <div class="card-body"><canvas id="newDeaths" width="100%" height="40"></canvas></div>
                    </div>
                </div>
            </div>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Hospitalizations and Vaccinations</li>
            </ol>
            <div class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            General Hospital and ICU Patients
                        </div>
                        <div class="card-body"><canvas id="hospitalPatients" width="100%" height="40"></canvas></div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-bar me-1"></i>
                            Vaccination Progress
                        </div>
                        <div class="card-body"><canvas id="testing" width="100%" height="40"></canvas></div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    DataTable Example
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                            </tr>
                            <tr>
                                <td>Garrett Winters</td>
                                <td>Accountant</td>
                                <td>Tokyo</td>
                                <td>63</td>
                                <td>2011/07/25</td>
                                <td>$170,750</td>
                            </tr>
                            <tr>
                                <td>Ashton Cox</td>
                                <td>Junior Technical Author</td>
                                <td>San Francisco</td>
                                <td>66</td>
                                <td>2009/01/12</td>
                                <td>$86,000</td>
                            </tr>
                            <tr>
                                <td>Cedric Kelly</td>
                                <td>Senior Javascript Developer</td>
                                <td>Edinburgh</td>
                                <td>22</td>
                                <td>2012/03/29</td>
                                <td>$433,060</td>
                            </tr>
                            <tr>
                                <td>Airi Satou</td>
                                <td>Accountant</td>
                                <td>Tokyo</td>
                                <td>33</td>
                                <td>2008/11/28</td>
                                <td>$162,700</td>
                            </tr>
                            <tr>
                                <td>Brielle Williamson</td>
                                <td>Integration Specialist</td>
                                <td>New York</td>
                                <td>61</td>
                                <td>2012/12/02</td>
                                <td>$372,000</td>
                            </tr>
                            <tr>
                                <td>Herrod Chandler</td>
                                <td>Sales Assistant</td>
                                <td>San Francisco</td>
                                <td>59</td>
                                <td>2012/08/06</td>
                                <td>$137,500</td>
                            </tr>
                         </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="/static/assets/js/datatables-simple-demo.js"></script>

<!-- Total Cases Plot -->
<script>
// Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#292b2c';

// Area Chart Example
var ctx = document.getElementById("totalCases");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: [{% for item in data[1] %}
                "{{ item }}",
            {% endfor %}],
    datasets: [{
      label: "Total Cases",
      backgroundColor: "rgba(2,117,216,0.2)",
      borderColor: "rgba(2,117,216,1)",
      pointRadius: 0,
      pointBackgroundColor: "rgba(2,117,216,1)",
      pointBorderColor: "rgba(2,117,216,1)",
      pointBorderWidth: 2,
      pointHoverRadius: 8,
      pointHoverBackgroundColor: "rgba(255,255,255, 0.)",
      pointHoverBorderColor: "rgba(0, 0, 0, 1)",
      pointHoverBorderWidth: 2,
      pointHitRadius: 5,
      data: [{% for item in data[2] %}
                "{{ item }}",
              {% endfor %}],
              spanGaps: true
    }],
  },
  options: {
    scales: {
      xAxes: [{
        gridLines: {
          display: false
        },
        ticks: {
            maxTicksLimit: 20,
        }
      }],
      yAxes: [{
        ticks: {
          beginAtZero: true,
          userCallback: function(value, index, values) {
                return value.toLocaleString();   // this is all we need
          }
        },
        gridLines: {
          color: "rgba(0, 0, 0, .125)",
        }
      }],
    },
    legend: {
      display: false
    }
  }
});
</script>
<!-- Total Deaths Plot -->
<script>
// Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#292b2c';

// Area Chart Example
var ctx = document.getElementById("totalDeaths");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: [{% for item in data[1] %}
                "{{ item }}",
            {% endfor %}],
    datasets: [{
      label: "Total Deaths",
      backgroundColor: "rgba(2,117,216,0.2)",
      borderColor: "rgba(2,117,216,1)",
      pointRadius: 0,
      pointBackgroundColor: "rgba(2,117,216,1)",
      pointBorderColor: "rgba(2,117,216,1)",
      pointBorderWidth: 2,
      pointHoverRadius: 8,
      pointHoverBackgroundColor: "rgba(255,255,255, 0.)",
      pointHoverBorderColor: "rgba(0, 0, 0, 1)",
      pointHoverBorderWidth: 2,
      pointHitRadius: 5,
      data: [{% for item in data[3] %}
                "{{ item }}",
              {% endfor %}],
              spanGaps: true
    }],
  },
  options: {
    scales: {
      xAxes: [{
        gridLines: {
          display: false
        },
        ticks: {
            maxTicksLimit: 20,
        }
      }],
      yAxes: [{
        ticks: {
          beginAtZero: true,
          userCallback: function(value, index, values) {
                return value.toLocaleString();   // this is all we need
          },
          minTicksLimit: 5,
          //maxTicksLimit: 5
        },
        gridLines: {
          color: "rgba(0, 0, 0, .125)",
        }
      }],
    },
    legend: {
      display: false
    }
  }
});
</script>
<!-- New Cases Plot -->
<script>
// Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#292b2c';

// Area Chart Example
var ctx = document.getElementById("newCases");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: [{% for item in data[1] %}
                "{{ item }}",
            {% endfor %}],
    datasets: [{
      label: "New Cases",
      backgroundColor: "rgba(2,117,216,0.2)",
      borderColor: "rgba(2,117,216,1)",
      pointRadius: 0,
      pointBackgroundColor: "rgba(2,117,216,1)",
      pointBorderColor: "rgba(2,117,216,1)",
      pointBorderWidth: 2,
      pointHoverRadius: 8,
      pointHoverBackgroundColor: "rgba(255,255,255, 0.)",
      pointHoverBorderColor: "rgba(0, 0, 0, 1)",
      pointHoverBorderWidth: 2,
      pointHitRadius: 5,
      data: [{% for item in data[4] %}
                "{{ item }}",
              {% endfor %}],
              spanGaps: true
    }],
  },
  options: {
    scales: {
      xAxes: [{
        gridLines: {
          display: false
        },
        ticks: {
            maxTicksLimit: 20,
        },
      }],
      yAxes: [{
        ticks: {
          //maxTicksLimit: 5
            beginAtZero: true,
            userCallback: function(value, index, values) {
                return value.toLocaleString();   // this is all we need
            }
        },
        gridLines: {
          color: "rgba(0, 0, 0, .125)",
        }
      }],
    },
    legend: {
      display: false
    }
  }
});
</script>
<!-- New Deaths Plot -->
<script>
// Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#292b2c';

// Area Chart Example
var ctx = document.getElementById("newDeaths");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: [{% for item in data[1] %}
                "{{ item }}",
            {% endfor %}],
    datasets: [{
      label: "New Deaths",
      backgroundColor: "rgba(2,117,216,0.2)",
      borderColor: "rgba(2,117,216,1)",
      pointRadius: 0,
      pointBackgroundColor: "rgba(2,117,216,1)",
      pointBorderColor: "rgba(2,117,216,1)",
      pointBorderWidth: 2,
      pointHoverRadius: 8,
      pointHoverBackgroundColor: "rgba(255,255,255, 0.)",
      pointHoverBorderColor: "rgba(0, 0, 0, 1)",
      pointHoverBorderWidth: 2,
      pointHitRadius: 5,
      data: [{% for item in data[5] %}
                "{{ item }}",
              {% endfor %}],
              spanGaps: true
    }],
  },
  options: {
    scales: {
      xAxes: [{
        gridLines: {
          display: false
        },
        ticks: {
            maxTicksLimit: 20,
        }
      }],
      yAxes: [{
        ticks: {
          maxTicksLimit: 5
        },
        gridLines: {
          color: "rgba(0, 0, 0, .125)",
        }
      }],
    },
    legend: {
      display: false
    }
  }
});
</script>
<!-- Hospitalizations Plot -->
<script>
// Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#292b2c';
var ctx = document.getElementById("hospitalPatients");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: [{% for item in data[1] %}
                "{{ item }}",
            {% endfor %}],
    datasets: [{
      label: "ICU Patients",
      backgroundColor: "rgba(255, 127, 14, 0.4)",
      borderColor: "rgba(255, 127, 14, 1)",
      pointRadius: 0,
      pointBackgroundColor: "rgba(255, 127, 14, 1)",
      pointBorderColor: "rgba(255, 127, 14, 1)",
      pointBorderWidth: 2,
      pointHoverRadius: 8,
      pointHoverBackgroundColor: "rgba(255, 127, 14, 0.)",
      pointHoverBorderColor: "rgba(255, 127, 14, 1)",
      pointHoverBorderWidth: 2,
      pointHitRadius: 5,
      data: [{% for item in data[7] %}
                "{{ item }}",
              {% endfor %}],
              spanGaps: true
    },
    {
      label: "Hospital Patients",
      backgroundColor: "rgba(2,117,216,0.2)",
      borderColor: "rgba(2,117,216,1)",
      pointRadius: 0,
      pointBackgroundColor: "rgba(2,117,216,1)",
      pointBorderColor: "rgba(2,117,216,1)",
      pointBorderWidth: 2,
      pointHoverRadius: 8,
      pointHoverBackgroundColor: "rgba(255,255,255, 0.)",
      pointHoverBorderColor: "rgba(0, 0, 0, 1)",
      pointHoverBorderWidth: 2,
      pointHitRadius: 5,
      data: [{% for item in data[8] %}
                "{{ item }}",
              {% endfor %}],
              spanGaps: true
    }
    ],
  },
  options: {
    scales: {
      xAxes: [{
        gridLines: {
          display: false
        },
        ticks: {
          beginAtZero: true,
          userCallback: function(value, index, values) {
                return value.toLocaleString();   // this is all we need
          },
          maxTicksLimit: 20,
          min: "Jul-20",
        }
      }],
      yAxes: [{
        ticks: {
          beginAtZero: true,
          userCallback: function(value, index, values) {
                return value.toLocaleString();   // this is all we need
          },
          //min: 0,
          //max: 15000,
          maxTicksLimit: 10
        },
        gridLines: {
          display: true
        }
      }],
    },
    legend: {
      display: true
    }
  }
});
</script>
<!-- Testing Plot -->
<script>
// Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#292b2c';
var ctx = document.getElementById("testing");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: [{% for item in data[1] %}
                "{{ item }}",
            {% endfor %}],
    datasets: [{
      label: "New Vaccinations",
      yAxisID: 'A',
      lineTension: 0.,
      backgroundColor: "rgba(255, 127, 14, 0.4)",
      borderColor: "rgba(255, 127, 14, 1)",
      pointRadius: 0,
      pointBackgroundColor: "rgba(255, 127, 14, 1)",
      pointBorderColor: "rgba(255, 127, 14, 1)",
      pointBorderWidth: 2,
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(255, 127, 14, 0.01)",
      pointHoverBorderColor: "rgba(255, 127, 14, 1)",
      pointHoverBorderWidth: 2,
      pointHitRadius: 5,
      data: [{% for item in data[12] %}
                "{{ item }}",
              {% endfor %}],
              spanGaps: true
    },
    {
      label: "People Vaccinated",
      yAxisID: 'B',
      fill: false,
      lineTension: 0.,
      //backgroundColor: "rgba(2,117,216, 1.)",
      borderColor: "rgba(2,117,216, 1)",
      pointRadius: 0,
      pointBackgroundColor: "rgba(2,117,216, 1)",
      pointBorderColor: "rgba(2,117,216, 1)",
      pointBorderWidth: 2,
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(2,117,216, 0.4)",
      pointHoverBorderColor: "rgba(2,117,216, 0.4)",
      pointHoverBorderWidth: 2,
      pointHitRadius: 1,
      data: [{% for item in data[11] %}
                "{{ item }}",
              {% endfor %}],
              spanGaps: true
    },
    {
      label: "People Fully Vaccinated",
      yAxisID: 'B',
      fill: false,
      lineTension: 0.,
      //backgroundColor: "rgba(44, 160, 44, 0.4)",
      borderColor: "rgba(44, 160, 44,1)",
      pointRadius: 0,
      pointHoverRadius: 5,
      data: [{% for item in data[13] %}
                "{{ item }}",
              {% endfor %}],
              spanGaps: true
    },
    ],
  },
  options: {
    scales: {
      xAxes: [{
        gridLines: {
          display: false
        },
        ticks: {
            maxTicksLimit: 10,
            min: "Dec-20",
            },
      }],
      yAxes: [{
        id: 'A',
        type: 'linear',
        position: 'left',
        ticks: {
          beginAtZero: true,
          userCallback: function(value, index, values) {
                return value.toLocaleString();   // this is all we need
          },
          maxTicksLimit: 10
        },
        gridLines: {
          color: "rgba(0, 0, 0, .125)",
        }
      },
      {
        id: 'B',
        position: 'right',
        ticks: {
          //beginAtZero: true,
          userCallback: function(value, index, values) {
                return value.toLocaleString();   // this is all we need
          },
          maxTicksLimit: 10
        },
        gridLines: {
            display: false
          //color: "rgba(0, 0, 0, .125)",
        }
      }
      ],
    },
    legend: {
      display: true
    }
  }
});
</script>

<!-- Make axis scientific notation with 1 decimal place
// Create scientific notation labels
callback: function(value, index, values) {
return value.toExponential(1);
},
-->
{% endblock javascripts %}
